events { worker_connections 1024; }

http {
    server {
        listen {{ proxy_port }};

        location / {
            proxy_pass http://{{ next_proxy_host }}:{{ next_proxy_port }};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
}
